@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wdth,wght@0,67.3,100..900;1,67.3,100..900&family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
}

body {
  overflow-x: hidden;
}